body{
  background-color: #fbfaf8;
}
.container{
  margin-top: 10px !important;
  width: 78% !important;
}

.custom-thumbnail{
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: 200px;
  margin-left: -16%;
  width: 100%;
}

.slides-slider{
  margin-top: 60px;
}

.play-btn{
  width: 50%;
}

h4{
  font-size: 20px;
  color: #09765f;
}
.custom-css-vid{
  margin-top: 13%;
  margin-left: -16%;
  border: 1px solid;
}
.custom-css-slides{
  margin-left: 0% !important;
  width:66% !important;
}

.dropdown-toggle {
  width: 100%;
  margin-left: -16%;
  padding: .5em 1em;
  background: #FFF;
  border-radius: .2em .2em 0 0;
}

ul.dropdown {
  display:none;
  top: 100%;
  margin-top: .2em;
  background: #f6f7f6;
  min-width: 12em;
  padding: 0;
  padding-left: 15px;
  border-radius: 0 .2em .2em .2em;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        padding: .5em 1em;
        display: block;
      }
   }
}
