body{
  background-color: #fbfaf8;
}
.container{
  margin-top: 10px !important;
  width: 78% !important;
}

.custom-thumbnail{
  overflow-y: scroll !important;
  overflow-x: hidden !important;
  height: 320px;
  margin-left: -16%;
  width: 100%;
}

.slides-slider{
  margin-top: 60px;
}

.play-btn{
  width: 50%;
}

h4{
  font-size: 20px;
  color: #09765f;
}
.custom-css-vid{
  margin-top: 13%;
  margin-left: -16%;
  border: 1px solid;
}
.custom-css-slides{
  margin-left: 0% !important;
  width:66% !important;
}
